dnspython==1.16.0
boto3==1.12.30
celery==4.4.2
Flask==1.1.1
Flask-RESTful==0.3.8
numpy==1.18.2
pandas==1.0.3
pycurl==7.43.0.5
pydash==4.7.6
PyJWT==1.7.1
pymongo==3.10.1
python-dotenv==0.12.0
python-simplexml==0.1.5
requests==2.23.0