aniso8601==3.0.2
click==6.7
Flask==1.0.2
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.5
pandas==0.23.1
pydash==4.5.0
pymongo==3.7.0
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
Werkzeug==0.14.1
